{
    "extends": "eslint:recommended",
    "env": {
        "node": true,
        "es6": true
    },
    "rules": {
        "new-cap": [ 2, { "capIsNewExceptions": [ "Router" ] } ],
        "no-var": "warn"
    }
}
